<div class="row" ng-show="tabCalendars[0].state == 'Complet'">
	<div class="col-lg-12">
		<hr>
		<h2 class="card-header">Vos Horaires <i class="fa fa-calendar" style="margin-left:10px" aria-hidden="true"></i></h2><hr>

		<h3 class="left"></h3>

		<table class="table table-responsive table--listhours">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Période</th>
					<th>État</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in tabCalendars">
					<td style="line-height:53px!important">{{item.name}} <div  ng-if="item.errorName" style="width: 10px;height: 10px;border-radius:10px; display:inline-block;line-height:53px!important; background-color: red"></div></td>
					<td style="line-height:53px!important">
						<span ng-if="$index == 0" >Tous les jours</span>
						<span ng-if="$index > 0"> {{item.period.debut | date: 'dd MMMM yyyy'}} au {{item.period.fin | date: 'dd MMMM yyyy'}}</span>
					</td>
					<td>
							<p ng-if="item.state == 'Complet'"><span style="margin-top: 10px!important" class="w3-tag completed w3-round">{{item.state}}</span></p>
							<p ng-if="item.state == 'Incomplet'"><span style="margin-top: 10px!important" class="w3-tag incompleted w3-round">{{item.state}}</span></p>
					</td>
					<td style="line-height:53px!important">
						<button md-whiteframe="1" class="btn btn-primary" ng-click="changeCal(item, $index)">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>