            <div class="row">
               <!-- affichage des champs -->
               <div class="col-lg-12 padding-bottom">
                  <h2 class="no-margin-left">Informations sur l'établissement</h1>
                  <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Saisir les informations de votre établissement</h4>
                    <p>Saisissez toutes les informations principales concernant votre établissement ainsi que ses heures soumis au CCNT.</p>
                  </div>
               </div>
            </div>
            <div ng-repeat="item in infoEtablissement">
               <div class="row infoEtabMarginBot">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-6">
                     <div class="centrer">
                        <input id="{{item.id}}" for="" class="infoEtabFormDroite form-control" ng-model="item.value" class="centrer" ng-blur="verification(item.id, $index)" placeholder="{{item.name}}" maxlength="{{item.max}}" type="{{item.type}}"></input>
                        <span class="errorEtab" ng-show="item.error">{{item.message}}</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-3"></div>
                  <div class="col-lg-6">
                  <hr>
                     <span>Votre établissement est soumis <strong>CCNT</strong> : (Cocher la réponse correspondante)</span>
                     <br>
                  </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-6">
                  <br>
                     <md-radio-group ng-model="hoursCCNTChosen" class="md-primary">
                       <md-radio-button ng-repeat="h in ccntHeure"
                                        ng-value="h.value">
                           {{h.name}}<br/>
                       </md-radio-button>
                     </md-radio-group>
                  </div>
               </div>
                  
            </div>
            <!-- affichage du bouton -->
            <div class="col-lg-12 padding-top">
               <div class="centrer">
                  <md-button id="btnSuivant" data-title="Aller à l'étape suivante" data-container="body" data-toggle="popover" data-placement="top" data-content="Cliquer sur suivant pour avancer à l'étape suivante de la configuration initiale" ng-click="verificationSuivant()" class="bouton bouton-l" style="background-color:brown">Suivant</md-button>
               </div>
            </div>