            <!-- Choisir les jours fériés -->
            
            <div class="row">
             <div class="col-lg-12 padding-bottom">
              <h2 class="no-margin-left">Jours fériés et Vacances</h1>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 centrer">
                <md-button id="addDay" ng-show="!afficherJour" ng-click="afficherJour = !afficherJour" class="bouton">Ajouter un jour de fermeture</md-button>
                <div class="row">
                    <md-input-container class="centrer" ng-show="afficherJour">
                    <label>Entrer une date</label>

                    <md-datepicker ng-model="dateDay" name="dateField" md-min-date="minDate"
                      md-max-date="maxDate">
                    </md-datepicker>
                    <input type="text" class="form-control centrer" placeholder="Titre"> </input>

                    <div ng-messages="myOtherForm.dateField.$error">
                      <div ng-message="valid">The entered value is not a date!</div>
                      <div ng-message="required">This date is required!</div>
                      <div ng-message="mindate">Date is too early!</div>
                      <div ng-message="maxdate">Date is too late!</div>
                    </div>
                    <md-button ng-click="addDayClose()" class="bouton">Valider</md-button>
                  </md-input-container>

                </div>
                <div ng-repeat="item in events">
                  Jours fériés : {{item.title}} <span> , {{item.date}}</span> 
                </div>
              </div>
              <div class="col-lg-6 centrer">
                <md-button ng-click="addDay()" class="bouton">Ajouter une plage</md-button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-12">
                <div id="calendari_lateral1"></div>
                <!--<config-calendar></config-calendar>-->
               <!-- Calendrier  <mwl-calendar
                    events="events"
                    view="calendarView"
                    view-title="calendarTitle"
                    view-date="viewDate"
                    on-event-click="eventClicked(calendarEvent)"
                    on-event-times-changed="eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                    cell-is-open="cellIsOpen"
                    day-view-start="06:00"
                    day-view-end="23:59"
                    day-view-split="30"
                    cell-modifier="modifyCell(calendarCell)"
                    cell-auto-open-disabled="true"
                    on-timespan-click="timespanClicked(calendarDate, calendarCell)">
                  </mwl-calendar> -->  
            </div>
          </div>
    <div class="centrer padding-top">
     <md-button ng-click="ctrl.previous(3)" class="bouton-prec bouton-l">Précédent</md-button>
     <md-button ng-click="ctrl.saveConfiguration()" class="bouton bouton-l">Terminer</md-button>
   </div>