<div class="login-card">
	<span ng-show="!activated">
    <h2>Création du mot de passe</h2><br>
  <form>
  	<span style="color:red" ng-hide="valide">Mot de passe incorrecte ou plus petit que 8 caractères !</span>
    <input type="password" id="newPass" placeholder="Nouveau mot de passe">
    <input type="password" id="confPass" placeholder="Retaper votre mot de passe">
    <input type="submit" ng-click="enregistrer()" name="login" class="login login-submit" value="Valider">
  </form>
</span>
<span ng-show="activated">
	<h2>Votre compte a bien été activé !</h2><br>
	<button ng-click="goPlayStore()" name="Android" class="login login-submit" value="Android" style="display:block;margin:auto;">Télécharger l'application pour Android</button>
	<br><br>
	<button ng-click="goAppleStore()" name="iOS" class="login login-submit" value="Ios" style="display:block;margin:auto;">Télécharger l'application pour iOS</button>
</span>
</div>