<!-- Afficher le menu principal -->
<!-- Navigation -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" notif-demandes>
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#!/home">Ctrl CCNT</a>
	</div>
	
	<!-- Top Menu Items -->
	<ul class="nav navbar-right top-nav">
		<li>
			
			<div class="spinner" ng-show="$root.loading === true">
				<div class="dot1"></div>
				<div class="dot2"></div>
			</div>
			
		</li>
		<li class="dropdown">
			<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b>
				<md-tooltip class="showTooltip-1">
					Messages
				</md-tooltip>
			</a>			
			<ul class="dropdown-menu message-dropdown">
				<li class="message-preview">
					<a href="">
						<div class="media">
							<span class="pull-left">
								<img class="media-object" src="https://placehold.it/50x50" alt="">
							</span>
							<div class="media-body">
								<h5 class="media-heading"><strong>{{user.nom}} {{user.prenom}}</strong>
								</h5>
								<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
								<p>Lorem ipsum dolor sit amet, consectetur...</p>
							</div>
						</div>
					</a>
				</li>
				<li class="message-preview">
					<a href="">
						<div class="media">
							<span class="pull-left">
								<img class="media-object" src="https://placehold.it/50x50" alt="">
							</span>
							<div class="media-body">
								<h5 class="media-heading"><strong>{{user.nom}} {{user.prenom}}</strong>
								</h5>
								<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
								<p>Lorem ipsum dolor sit amet, consectetur...</p>
							</div>
						</div>
					</a>
				</li>
				<li class="message-preview">
					<a href="">
						<div class="media">
							<span class="pull-left">
								<img class="media-object" src="https://placehold.it/50x50" alt="">
							</span>
							<div class="media-body">
								<h5 class="media-heading"><strong>{{user.prenom + " " + user.nom}}</strong>
								</h5>
								<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
								<p>Lorem ipsum dolor sit amet, consectetur...</p>
							</div>
						</div>
					</a>
				</li>
				<li class="message-footer">
					<a href="">Read All New Messages</a>
				</li>
			</ul>
		</li>
		
		<li class="dropdown">
			
			<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b>
				<md-tooltip class="showTooltip-1">
					Demandes
				</md-tooltip>
				<span ng-if="notif.demandesNotif.length != 0 || notif.demandesNotif != 'null'" class="w3-badge w3-green">{{notif.demandesNotif.length}}</span>
			</a>
			<ul class="dropdown-menu alert-dropdown">
				<li ng-if="notif.demandesNotif.length == 0 || notif.demandesNotif == 'null'">
					<a href="">Aucune nouvelle demande</a>
				</li>
				<li ng-repeat="dem in notif.demandesNotif">
					<a href="#modal-example" style="border-bottom: 1px solid #e5e5e5" uk-toggle ng-click="notif.affDemande(dem)">
						<div style="display: inline; margin-top: 8px;width: 53px; height:auto; float:left;margin-left:-15px"><span class="label" style="background-color: #1e87f0; color:white; font-weight: 400">Nouveau</span></div>
						<span style="padding-left: 3px;overflow: hidden;text-overflow: ellipsis;display: block;white-space: nowrap;font-weight: 600">{{dem.per_nom}} {{dem.per_prenom}}</span>
						<span style="padding-left: 3px;overflow: hidden;text-overflow: ellipsis;display: block;white-space: nowrap;font-weight: 400">{{dem.typeDemande_nom}}</span>
					</a>
				</li>
				<li>
					<a href="#!/demandes">Voir toutes les demandes</a>
				</li>
			</ul>
		</li>
		
		<li class="dropdown">
			<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hide-top-nav"> {{user.nom}} </span><b class="caret"></b>
				<md-tooltip class="showTooltip-2">
					Profil
				</md-tooltip>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href=""><i class="fa fa-fw fa-user"></i> Profil</a>
				</li>
				<li>
					<a href=""><i class="fa fa-fw fa-envelope"></i> Messages</a>
				</li>
				<li>
					<a ng-click="affParametrageVue()"><i class="fa fa-fw fa-gear"></i> Paramètres</a>
				</li>
				<li class="divider"></li>
			</ul>
		</li>
		
		<li ng-controller="modalController">
			<a ng-click="showConfirm($event)" class="pointeur blanc"> 
				<i class="fa fa-power-off fa-lg"></i> <span class="hide-top-navDeco">Déconnexion</span>
				<md-tooltip class="showTooltip-3">Déconnexion</md-tooltip>
			</a>
		</li>
	</ul>
	
	<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav side-nav">
			<li ng-class="{active: $route.current.activetab == 'dashboard'}">
				<a href="#!/home"><i class="fa fa-fw fa-dashboard"></i> Tableau de bord</a>
			</li>
			<li ng-class="{active: $route.current.activetab == 'emp'}" ng-show="{{user.configuration}}">
				<a href="#!/employe"><i class="fa fa-fw fa-user"></i> Gestion employés</a>
			</li>
			<li ng-class="{active: $route.current.activetab == 'planning'}" ng-show="{{user.configemp && user.configuration}}">
				<a href="#!/createplanning"><i class="fa fa-fw fa-calendar"></i> Planning </a>
				<md-tooltip md-direction="rigth">Planning</md-tooltip>
			</li>
			<li ng-class="{active: $route.current.activetab == 'demandes'}">
				<a href="#!/demandes"><i class="fa fa-fw fa-bell"></i> Demandes</a>
			</li>
			<li ng-class="{active: $route.current.activetab == 'hist'}">
				<a href="#!/construction"><i class="fa fa-fw fa-history"></i> Historique</a>
			</li>
			<li ng-class="{active: $route.current.activetab == 'estab'}">
				<a href="#!/myestablishment"><i class="fa fa-fw fa-cutlery"></i> Mon Établissement</a>
			</li>
			<li ng-class="{active: $route.current.activetab == 'stats'}">
				<a href="#!/stats"><i class="fa fa-fw fa-pie-chart"></i> Statistiques</a>
			</li>
			<li ng-class="{active: $route.current.activetab == 'param'}">
				<a href="#!/parametrage"><i class="fa fa-fw fa-wrench"></i> Paramètres</a>
			</li>
		</ul>
		<div id="modal-example" uk-modal="center: true">
		    <div class="uk-modal-dialog uk-modal-body">
		    	<h2 class="uk-modal-title text-center" style="padding: 15px;width: 100%;height: auto;position: absolute;top: 0px;left: 0;background: #222;color: white;">Demande n° {{demandeCours.idDem}}</h2>
		       <hr>
		       <h3>Employé : {{demandeCours.per_nom}}</h3>
		        <h4 style="margin-top:-10px; color:dimgrey">Type demande : {{demandeCours.typeDemande_nom}}</h4>
		        <h5>Motif : <span ng-if="demandeCours.motif == null">Aucune justification</span>{{demandeCours.motif}} </h5>
		        <h5 class="text-center">Date début : <strong>{{demandeCours.dateDebut}}</strong><br> Date fin : <strong>{{demandeCours.dateFin}}</strong></h5>
		        <hr>
		        <p class="uk-text text-center">
		            <button class="ui positive basic button uk-modal-close" type="button" ng-click="notif.traiterDemande(true)">Accepter</button>
		            <button class="ui negative basic button uk-modal-close" type="button" ng-click="notif.traiterDemande(false)">Refuser</button>
		        </p>
		    </div>
		</div>
	</div> <!-- /.navbar-collapse -->
</nav>



