            <!-- Horaires des établissements -->
            <div class="row">
               <div class="col-lg-12 padding-bottom">
                  <h2 class="no-margin-left">Horaires de l'établissement</h1>
               </div>
            </div>
            <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                     <div class="panel panel-default">
                        <div class="panel-heading centrer" style="background-color: white"><h3>Nombre d'heures/Semaine</h3></div>
                        <div class="panel-body">
                           <div class="centrer">
                              <input id="nbHours" class="font-size-25 centrer form-control" ng-maxlength="2" type="number" ng-model="$parent.nbHoursChosen" autofocus></input></div>
                        </div>
                      </div>
                  </div>
               </div>
            <div class="row">
               <div class="col-md-12">
                  <h4 class="margin-bottom-10">Nombre d'heures configurées : <strong>{{nbHours}}</strong></h4>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12 padding-top">
                  <div class="centrer table-responsive">
                     <table class="table flat-table" style="text-align:center">
                        <tbody>
                           <tr>
                              <th></th>
                              <th ng-repeat="data in hours">{{data.day}}</th>
                           </tr>
                           <tr>
                              <th rowspan="2">Journée</th>
                              <td ng-repeat="data in hours">
                                 <md-button id="{{data.id}}debut" class="btnS md-raised" ng-click="showTimeJourneeDebut($event, $index)" aria-label="show picker">
                                    <strong>{{ data.journee.debut | date:'HH:mm' }}</strong>
                                    <i class="espace-avant fa fa-clock-o"></i>
                                 </md-button>
                                 <span class="centrer"></span>
                              </td>
                           <tr>
                              <td ng-repeat="data in hours">
                                 <md-button id="{{data.id}}fin" class="btnS md-raised" ng-click="showTimeJourneeFin($event, $index)" aria-label="show picker">
                                    <strong>{{ data.journee.fin | date:'HH:mm' }}</strong>
                                    <i class="espace-avant fa fa-clock-o"></i>
                                 </md-button>
                              </td>
                           </tr>

                           <tr class="ligne">
                              <th rowspan="2">Pause</th>
                              <td ng-repeat="data in hours">

                                 <!-- Bouton ajouter pause
                                 <md-button ng-show="{{!data.pause.existe}}" id="{{data.id}}pause" class="btnS md-raised" ng-click="addPause($index)" aria-label="show picker">
                                    <strong>Ajouter Pause</strong>
                                 </md-button> -->
                                 <md-button id="{{data.id}}pauseDebut" class="btnS md-raised" ng-click="showTimePauseDebut($event, $index)" aria-label="show picker">
                                    <strong>{{ data.pause.debut | date:'HH:mm' }}</strong>
                                    <i class="espace-avant fa fa-clock-o"></i>
                                 </md-button>
                                 <span class="centrer"></span>
                              </td>
                           <tr>
                              <td ng-repeat="data in hours">
                                 <md-button id="{{data.id}}pauseFin" class="btnS md-raised" ng-click="showTimePauseFin($event, $index)" aria-label="show picker">
                                    <strong>{{ data.pause.fin | date:'HH:mm' }}</strong>
                                    <i class="espace-avant fa fa-clock-o"></i>
                                 </md-button>
                              </td>
                           </tr>   
                        </tbody>
                     </table>
                  </div>
                  <div class="row">
                     <div class="col-lg-12 padding-top">
                        <div class="centrer">
                           <md-button ng-click="ctrl.previous(1)" class="bouton-prec bouton-l">Précédent</md-button>
                           <md-button ng-click="validationHours()" class="bouton bouton-l">Suivant</md-button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>