            <!-- Horaires des établissements -->
            <div class="row">
               <div class="col-lg-12 padding-bottom">
                     <h2 class="no-margin-left">Horaires de base</h2>
                     <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Définir les horaires de base</h4>
                        <p>Définissez les horaires de base d'une semaine ou de plusieurs semaines pour votre établissement.</p>
                     </div>  
               </div>
            </div>
            
            <div class="row">
               <div class="right no-margin-top-16">
                  <div class="hours-ccnt centrer" ng-click="affModif()">CCNT soumis: <span class="border-ellipse-hours">{{hoursCCNTChosen}} H  <i class="espace-avant fa fa-clock-o"></i></span>
                     
                  </div>
                  <div class="popovers" ng-show="modifCCNT">
                     
                      <div class="popovers popover-title">
                        Voulez-vous modifier les heures CCNT ?
                           
                     </div>
                     <div class="popovers-content">
                        <div class="centrer">
                           <button class="btn btn-secondary centrer" ng-click="affModifHours()">Oui</button>
                           <button class="btn btn-secondary"  ng-click="modifCCNT = false">Non</button>
                        </div>
                     </div>

                  </div>
                    <div class="popovers" ng-show="modifHours">
                        <div class="popovers popover-title">
                           Choisissez les heures CCNT
                        </div>
                        <div class="popovers-content">
                           <div class="centrer">
                              <button class="btn btn-secondary" ng-click="modifHoursCCNT(42)">42</button>
                              <button class="btn btn-secondary" ng-click="modifHoursCCNT(43.5)">43.5</button>
                              <button class="btn btn-secondary" ng-click="modifHoursCCNT(45)">45</button>
                           </div>
                        </div>
                    </div>
               </div> 
            </div>

            <!--
            <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                     <div class="panel panel-default">
                        <div class="panel-heading centrer" style="background-color: white"><h3>Nombre d'heures/Semaine</h3></div>
                        <div class="panel-body">
                           <div class="centrer">
                              <input id="nbHours" class="font-size-25 centrer form-control" ng-maxlength="2" type="number" ng-model="$parent.nbHoursChosen" autofocus></input></div>
                        </div>
                      </div>
                  </div>
               </div>
            
            <div class="row">
               <div class="col-md-12">
                  <h4 class="margin-bottom-10">Nombre d'heures configurées : <strong>{{nbHours}}</strong></h4>
               </div>
            </div> -->
            <div class="row">
               <div class="col-lg-12 padding-top">
                  <div class="centrer table-responsive">
                     <table class="table flat-table" style="text-align:center">
                        <tbody>
                           <tr>
                              <th></th>
                              <th ng-repeat="data in hours">{{data.day}}</th>
                           </tr>
                           <tr>
                              <th rowspan="2" style="background-color:#3E2723!important;line-height:25px">Matin <i class="fa fa-sun-o" aria-hidden="true"></i></th>
                              <td ng-repeat="data in hours">
                                 <md-button id="{{data.id}}debut" class="btnS md-raised" ng-click="showTimeJourneeDebut($event, $index)" aria-label="show picker">
                                    <strong>{{ data.journee.debut | date:'HH:mm' }}</strong>
                                    <i class="espace-avant fa fa-clock-o"></i>
                                 </md-button>
                                 <span class="centrer"></span>
                              </td>
                           <tr>
                             
                           </tr>

                           <tr class="ligne">
                              <th rowspan="2" style="background-color:#3E2723!important;line-height:25px">Soir <i class="fa fa-moon-o" aria-hidden="true"></i></th>
                               <td ng-repeat="data in hours">
                                 <md-button id="{{data.id}}fin" class="btnS md-raised" ng-click="showTimeJourneeFin($event, $index)" aria-label="show picker">
                                    <strong>{{ data.journee.fin | date:'HH:mm' }}</strong>
                                    <i class="espace-avant fa fa-clock-o"></i>
                                 </md-button>
                              </td>
                           </tr>   
                        </tbody>
                     </table>
                  </div>
                  <div class="row">
                     <div class="col-lg-12 padding-top">
                        <div class="centrer">
                           <md-button ng-click="ctrl.previous(2)" class="bouton-prec bouton-l">Précédent</md-button>
                           <md-button ng-click="validationHours()" class="bouton bouton-l">Suivant</md-button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>