
		<div ng-hide="choix.id == 1">
			<h4 class="card-title">Votre établissement est-il ouvert en continue ou avec des coupures {{choix}} ?</h4>
			<p class="card-text">
				<button class="btn btn-primary btnCont margin-bottom-xs" ng-click="choiceOpenning(0)"> En Continue
					<img class="margin-img-left" width="30px" height="30px" src="assets/images/continue.png"/>
				</button>
				<button class="btn btn-primary btnCoup margin-bottom-xs" ng-click="choiceOpenning(1)" class="md-raised">Avec Coupures
					<img class="margin-img-left" width="30px" height="30px" src="assets/images/ciseaux.png">
				</button>
				
			</p>
		</div>