<!-- Afficher la prévisualisation -->
<div class="row">
	<div class="col-lg-12 padding-bottom">
		<h2 class="no-margin-left">Horaires pré-configurés</h2>
	</div>
</div>

<!-- <md-button ng-click="test()" class="bouton-prec bouton-l">Test</md-button>-->
<div class="row">
	<div class="col-lg-12 text-center">
		<md-button ng-click="test()" class="btn bouton">Ajouter un horaire pré-configuré</md-button>
	</div>
</div>

<div class="row">
	<div class="centrer">
		<md-button ng-click="ctrl.previous(4)" class="bouton-prec bouton-l">Précédent</md-button>
		<md-button ng-click="ctrl.test()" class="bouton bouton-l">Finaliser</md-button>
	</div>
</div>