<md-dialog aria-label="Marche à suivre">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h1 style="color:white!important"><span>Marche à suivre</span></h1>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="assets/images/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
				
		<md-dialog-content ng-switch on="currentView">

			<!-- Etape configuration des départements -->
			 <div ng-switch-when="2">
				<div class="md-dialog-content">
					<div layout="row" >
						<img flex alt="{{configTuto[1].title}}" max-width="100%" height="auto" src="assets/images/Departement-Etape2.png">
					</div>
				</div>
			 </div>

			<!-- Etape configuration des horaires ouverture et fermeture -->
			 <div ng-switch-when="3">
				<div class="md-dialog-content">
					<div layout="row" >
						<img flex alt="{{configTuto[2].title}}" max-width="100%" height="auto" src="assets/images/Horaires-1.png">
					</div>
				</div>
			 </div>
			 
			 <div ng-switch-when="4">
				<div class="md-dialog-content">
					<div layout="row" >
						<img flex alt="{{configTuto[3].title}}" max-width="100%" height="auto" src="assets/images/Horaires-2.png">
					</div>
				</div>
			 </div>

			 <div ng-switch-when="5">
				<div class="md-dialog-content">
					<div layout="row" >
						<img flex alt="{{configTuto[4].title}}" max-width="100%" height="auto" src="assets/images/Horaires-3.png">
					</div>
				</div>
			 </div>
			 
			 <div ng-switch-when="6">
				<div class="md-dialog-content">
					<div layout="row" >
					 <img flex alt="{{configTuto[5].title}}" max-width="100%" height="auto" src="assets/images/Horaires-4.png">
					</div>
				</div>
			 </div>

			 <div ng-switch-when="7">
				<div class="md-dialog-content">
					<div layout="row" >
						<img flex alt="{{configTuto[6].title}}" max-width="100%" height="auto" src="assets/images/Horaires-5.png">
					</div>
				</div>
			 </div>
			 <div ng-switch-when="8">
				<div class="md-dialog-content">
					<div layout="row" >
					 <img flex alt="{{configTuto[7].title}}" max-width="100%" height="auto" src="assets/images/Horaires-6.png">
					</div>
				</div>
			 </div>
			
			 <!-- Etape configuration des jours fériés -->
			<div ng-switch-when="9">   
				<div class="md-dialog-content">
					<div layout="row" >
						<img flex alt="{{configTuto[8].title}}" max-width="100%" height="auto" src="assets/images/JoursFermeture-Etape4-1.png">
					</div>
				</div>
			</div>

			 <div ng-switch-when="10">
				<div class="md-dialog-content">
					<div layout="row" >
						<img flex alt="{{configTuto[9].title}}" max-width="100%" height="auto" src="assets/images/JoursFermeture-Etape4-2.png">
					</div>
				</div>
			 </div>

			 <!-- Par défaut - Informations de l'établissement -->
			 <div ng-switch-default>
				<div class="md-dialog-content width-smartphone">
					<div layout="row" >
						<img flex alt="{{configTuto[0].title}}" max-width="100%" height="auto" src="assets/images/Etablissement-CCNT.png">
					</div>
				</div>
			 </div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<div class="col-lg-12 centrer">
				<md-button ng-hide="currentView == 1" ng-click="precedent()" class="bouton-prec bouton-l">
				 Précedent
				</md-button>
				<span flex></span>
				<md-button ng-hide="currentView == {{configTuto.length}}" ng-click="next()" class="bouton bouton-l">
					Suivant
				</md-button>
				<md-button ng-show="currentView == {{configTuto.length}}" ng-click="hide()" class="bouton">
					Commencer la configuration
				</md-button>
			</div>
		</md-dialog-actions>
	</form>
</md-dialog>