<md-dialog aria-label="Gestion Horaire">
	<md-content id="scrollbar" md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
		<div class="spectre-card" style="border: none">
			<div class="spectre-card-body">
				<div class="uk-card uk-card-body uk-card-default"  style="min-height: auto!important; height: auto!important; margin-bottom: 20px;">
					<div class="uk-card-title">
						<h4 class="text-center">Modification ouverture<br><strong>{{cal.name}}<strong></h4>
					</div>
					<p class="text-center card-text">
						<button class="btn btn-primary btnCont margin-bottom-xs" ng-click="choiceOpenning(0)"> En Continue
							<img class="margin-img-left" width="30px" height="30px" src="assets/images/continue.png"/>
						</button>
						<button uk-toggle="target: #my-id" type="button" class="btn btn-primary btnCoup margin-bottom-xs" ng-click="choiceOpenning(1)" class="md-raised">Avec Coupures
							<img class="margin-img-left" width="30px" height="30px" src="assets/images/ciseaux.png">
						</button>
						<div id="my-id" class="text-center" hidden>
							<hr class="uk-divider-small">
							<button class="btn btn-primary" ng-click="choiceFrequencyCoup(0)">
								Tous les jours
							</button>
							<button class="btn btn-primary" uk-toggle="target: #my-id2" type="button" ng-click="choiceFrequencyCoup(1)" class="md-raised">
								Certains jours
							</button>
						</div>

						<div id="my-id2" class="text-center" hidden style="font-size: 12px!important;margin-top:15px">
							<div class="row" ng-repeat="item in cal.hours">
								<div class="col-lg-12">
									<div class="col-lg-1"></div>
									<div class="col-lg-2">
										<md-checkbox class="md-primary left" style="margin-left:50px!important" ng-model="item.pause.existe">
											<span ng-class="{bold: item.pause.existe}"> {{ item.day }} </span>
										</md-checkbox>
									</div>
									<div class="col-lg-4"></div>
								</div>
							</div>
						</div>
					</p>
					<hr>
					<div class="text-center">
					<button class="ui button"  ng-click="cancel()" style="font-size: 1em;">Annuler </button>
						<button class="ui secondary button" ng-click="answer('ok')" style="font-size: 1em;">
							Valider
						</button>
					</div>
				</div>
			</div>
		</div>
	</md-content>
</md-dialog>