<div ng-controller="homeController" id="wrapper" class="back-app">
	
	<ng-menu></ng-menu>

	<div id="page-wrapper" class="padding-top-50">
		<div class="container-fluid">

			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12">
					<h1 class="uk-margin-top uk-heading-line title-planning"><span>Statistiques</span></h1>
					<div class="uk-breadcrumb">

						<a href="#!/home" >Home</a>
						<a href="#!/stats" class="active">Statistiques</a>
					</div>
				</div>
			</div>
			<h4 class="ui horizontal divider header">
				Situation des employés
			</h4>
			<div class="row">
				<div class="col-lg-6">
						Mois
						<select class="uk-select"> 
								<option value="">Janvier</option>
								<option value="">Février</option>
								<option value="">Mars</option>
								<option value="">Avril</option>
								<option value="">Mai</option>
								<option value="">Juin</option>
								<option value="">Juillet</option>
								<option value="">Août</option>
								<option value="">Septembre</option>
								<option value="">Octobre</option>
								<option value="">Novembre</option>
								<option value="">Décembre</option>
						</select>
					</div>
					<div class="col-lg-6">
						Année
						<select class="uk-select"> 
								<option value="">Janvier</option>
						</select>
					</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-12">
					<table class="ui celled structured table">
						<thead>
							<tr>
								<th class="center aligned" colspan="3">Employés</th>
								<th class="center aligned" colspan="3">Pris à ce jour</th>
								<th style="background: #222;color: white;font-weight: 400;" class="center aligned" colspan="3">Solde actuel</th>
							</tr>
							<tr>
								<th class="center aligned"></th>
								<th class="center aligned">Nom</th>
								<th class="center aligned">Prenom</th>
								<th class="center aligned">Jours de congé</th>
								<th class="center aligned">Jours fériés</th>
								<th class="center aligned">Vacances</th>
								<th class="center aligned">Jours de congé</th>
								<th class="center aligned">Jours fériés</th>
								<th class="center aligned">Vacances</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="emp in employes">
								<td  class="center aligned">
									<img style="margin-left:-13px" ng-if="emp.genre === 'M'" class="ui avatar image" src="assets/images/man.png">
									<img style="margin-left:-13px" ng-if="emp.genre === 'F'" class="ui avatar image" src="assets/images/women.png">
								</td>
								<td class="center aligned">{{emp.nom}}</td>
								<td class="center aligned">{{emp.prenom}}</td>
								<td class="center aligned">0</td>
								<td class="center aligned">{{emp.solde.infoSoldeMois.jourprisferies}}</td>
								<td class="center aligned">{{emp.solde.infoSoldeMois.jourprisvacances}}</td>
								<td class="center aligned">{{emp.solde.soldeCourant.solde_conges}}</td>
								<td class="center aligned">{{emp.solde.soldeCourant.solde_feries}}</td>
								<td class="center aligned">{{emp.solde.soldeCourant.solde_vacances}}</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>


		</div>

		<div class="row">
			<div class="col-lg-12">
				<div id="line-example"></div>
			</div>
		</div>


			<!--
			<div class="row">
				<div class="col-lg-4"><div id="donut-example"></div></div>
				<div class="col-lg-4"><div id="donut-example1"></div></div>
				<div class="col-lg-4"><div id="donut-example2"></div></div>
			</div>-->

			
			<!--
			<div class="row">
				<div class="col-lg-12">
					<div class="flakes-key-metrics gt100 gt150 gt200 gt250 lt300 lt350 lt400 lt450 lt500 lt550 lt600 lt650 lt700 lt750 lt800 lt850 lt900" data-respond="">
						<div title="A unit of account is a standard monetary unit of measurement of value/cost of goods, services, or assets. It is one of three well-known functions of money.[1] It lends meaning to profits, losses, liability, or assets.">
							<span>2,382</span><br>
							Units Sold
						</div>
						<div title="Avg. Margin refer to a measure of profitability. It is calculated by finding the net profit as a percentage of the revenue.">
							<span>18.33%</span><br>
							Avg. Margin
						</div>
						<div title="Revenue or turnover is income that a company receives from its normal business activities, usually from the sale of goods and services to customers. ">
							<span>$183,232</span><br>
							Gross Revenue
						</div>
						<div title="Profit is the difference between the purchase and the component costs of delivered goods and/or services and any operating or other expenses.">
							<span>$58,329</span><br>
							Gross Profit
						</div>
						<div title="The goods or merchandise kept on the premises of a business or warehouse and available for sale or distribution.">
							<span>$133,429</span><br>
							Stock On Hand
						</div>
						<div title="Pay back (money), typically to a customer who is not satisfied with goods or services bought.">
							<span>$19,429</span><br>
							Refunds
						</div>
					</div> 
				</div>
			</div> -->

		</div>
	</div> <!-- /#page-wrapper -->
</div>