<md-dialog aria-label="Gestion Horaire" style="width:80%">
	<md-content id="scrollbar" md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
	
		<div class="spectre-card" time-picker>
			
			<!-- Header de la carte -->
			<div class="spectre-card-header">
				<h5 class="spectre-card-title">
					{{person.nom}} {{person.prenom}}
					<figure class="avatar avatar-xl right" ng-if="scope.myPerson != null">
						<img style="border-radius: 0%!important" ng-style="imgDep" ng-src="assets/images/bande{{person.dep.img}}.jpg" />
						<div ng-style="styleDep" class="avatar-icon" />
					</figure>
					<br>
					<h6 class="spectre-card-subtitle">{{depSel}}</h6>
					<h4 class="text-center">
						<select select-dir class="ui dropdown" ng-change="majPerson()" ng-model="scope.myPerson" style="width: 100%; margin-top:5px">
							<option ng-repeat="person in scope.persons track by $index" value="{{person.id}}">{{person.nom}} {{person.prenom}}</option>
						</select>
						<span ng-if="scope.myPerson == null" style="color:red; display: block; margin-bottom: 70px;">Veuillez choisir un employé !</span>
					</h4>
				</h5>
			</div>
			
			<!-- Body de la carte -->
			<div class="spectre-card-body" ng-if="myPerson != null">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel" md-whiteframe="1" style="border: 1px solid #222;">
							<div class="x_title text-center"  style="color: black; font-weight: 600; border-bottom: 1px solid #222">
								<h3 style="height: 20px;padding-bottom:0px">Date <i style="margin-left:20px" class="fa fa-calendar-o" aria-hidden="true"></i></h3>
								<div class="clearfix"></div>
							</div>
							<div class="x_content text-center">
								<md-datepicker style="color:white" ng-model="event.startsAt" ng-change="checkHoursInOpenning()" md-placeholder="Choisir date"></md-datepicker>
								<button style="margin-left: 50px" class="uk-button uk-button-default">Options <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
				</div>

				<hr class="uk-divider-icon">
				<div class="row">
					<div class="col-lg-12">
						<div uk-alert class="uk-alert-danger" ng-if="errorHoraire">
							<a class="uk-alert-close" style="color:black" uk-close></a>
							<h3 style="color:#c0392b">Rappel Ouverture Établissement</h3>
							<p style="color:#e74c3c; font-weight: normal">Pour rappel, votre établissement est ouvert le <strong>{{errorJour}}</strong><br> {{ouvertures}}</p>
							<div class="text-center">
								<button class="uk-button uk-button-text" style="margin-right: 25px"> Autoriser </button> <button class="uk-button uk-button-text"> Corriger </button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="x_panel" md-whiteframe="1" style="border: 1px solid #0f5d4d;">
							<div class="x_title" style="border-bottom: 1px solid #0f5d4d;">
								<h3 style="display: inline; color: #0f5d4d; font-weight: 600">Service Matin</h3>
								<label class="right" style="font-size: 1.3em;font-weight: 500;margin-top: 6px;"><input class="uk-checkbox" type="checkbox" ng-model="absent1" ng-change="changeAb1();validationAbsence()"/> Absent</label>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<div class="text-center">
									<md-button ng-model="heureDebut1" class="btnS md-raised" style="background-color: #16a085;color: white;width: 150px!important;" ng-click="showHeureDebutSer1($event, $index)" aria-label="show picker">
										{{ heureDebut1 | date:'HH:mm' }}
										<i class="espace-avant fa fa-clock-o"></i>
									</md-button>
									<md-button ng-model="heureFin1" class="btnS md-raised" style="background-color: #16a085;color: white;width: 150px!important;" ng-click="showHeureFinSer1($event, $index)" aria-label="show picker">
										{{ heureFin1 | date:'HH:mm' }}
										<i class="espace-avant fa fa-clock-o"></i>
									</md-button>
								</div>
								<div ng-show="motifAfficher && scope.absent1" class="uk-margin" >
									<label for="form-stacked-select">Motif absence</label>
									<select select-dir id="selMotif" class="ui dropdown" ng-model="motif" ng-change="changeMotif()" style="width: 100%; margin-top:5px">
										<option ng-repeat="abs in absences1 track by $index" value="{{abs.id}}">{{abs.name}}</option>
									</select>
								</div>
								<div ng-hide="scope.motifAfficher && scope.absent1" class="uk-margin">
									<label for="form-stacked-select">Pause</label>
									<div class="uk-form-controls">
										<select select-dir style="font-size:1.2em" id="selPause1" class="ui dropdown" id="form-stacked-select" ng-change="changePause()" ng-model="scope.pauseService1" ng-options="p.name for p in nbPause"></select>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="x_panel margin-bottom-xss" md-whiteframe="1" style="border: 1px solid #2c3e50;">
							<div class="x_title" style="border-bottom: 1px solid #34495e;">
								<h3 style="display: inline;color: #2c3e50; font-weight: 600"">Service Soir</h3>
								<label class="right" style="font-size: 1.3em;font-weight: 500;margin-top: 6px;"><input class="uk-checkbox" type="checkbox" ng-model="absent2" ng-change="changeAb2();validationAbsence()"/> Absent</label>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<div class="text-center">
									<md-button ng-model="heureDebut2" class="btnS md-raised" style="background-color: #34495e;color: white;width: 150px!important;"  ng-click="showHeureDebutSer2($event, $index)" aria-label="show picker">
										{{ heureDebut2 | date:'HH:mm' }}
										<i class="espace-avant fa fa-clock-o"></i>
									</md-button>
									<md-button ng-model="heureFin2" class="btnS md-raised" style="background-color: #34495e;color: white;width: 150px!important;"  ng-click="showHeureFinSer2($event, $index)" aria-label="show picker">
										{{ heureFin2 | date:'HH:mm' }}
										<i class="espace-avant fa fa-clock-o"></i>
									</md-button>
								</div>
								<div ng-show="motifAfficher && scope.absent2" class="uk-margin" >
									<label for="form-stacked-select">Motif absence</label>
									<select select-dir id="selMotif" class="ui dropdown" ng-model="motif" ng-change="changeMotif()" style="width: 100%; margin-top:5px">
										<option ng-repeat="abs in absences1 track by $index" value="{{abs.id}}">{{abs.name}}</option>
									</select>
								</div>
								<div ng-hide="scope.motifAfficher && scope.absent2" class="uk-margin">
									<label for="form-stacked-select">Pause</label>
									<div class="uk-form-controls">
										<select select-dir style="font-size:1.2em" id="selPause2" class="ui dropdown" id="form-stacked-select" ng-change="changePause()" ng-model="scope.pauseService2" ng-options="p.name for p in nbPause"></select>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<hr>
			</div>
		</div>
		
		<button style="bottom: 0; position: fixed; width: 50%" class="uk-button uk-button-secondary uk-width-1-1"  aria-label="Back to Top" ng-click="answer('')">
			Ajouter
		</button>
		<button style="bottom: 0; right: 0;position: fixed; width: 50%; background-color: #ECF0F1; color:#222" class="uk-button uk-button-secondary uk-width-1-1" aria-label="Back to Top" ng-click="cancel()">
			Annuler
		</button>
		
	</md-content>
</md-dialog>

        <!--
        <div class="row">
          <div class="col-lg-12">
            
            <div class="text-center">
              <md-button ng-model="heureDebut1" class="btnS md-raised" ng-click="showHeureDebutSer1($event, $index)" aria-label="show picker">
               <strong>{{ heureDebut1 | date:'HH:mm' }}</strong>
               <i class="espace-avant fa fa-clock-o"></i>
              </md-button>
              <md-button ng-model="heureFin2" class="btnS md-raised" ng-click="showHeureFinSer1($event, $index)" aria-label="show picker">
                 <strong>{{ heureFin1 | date:'HH:mm' }}</strong>
                 <i class="espace-avant fa fa-clock-o"></i>
              </md-button>
            </div>
            <div class="text-center">
              <label class="uk-form-label" for="form-stacked-select">Pause</label>
              <div class="uk-form-controls">
                <select style="font-size:1.2em" class="ui dropdown" id="form-stacked-select" ng-model="pauseService1" ng-options="p.name for p in nbPause"/>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="row">
          <div class="col-lg-12">
              <h3>Service 2  
                  <label class="right" style="font-size: 1em"><input class="uk-checkbox" type="checkbox" ng-model="absent2" ng-change="changeAb2();validationAbsence()"/> Absent</label>
              </h3>
              <div class="text-center">
                <md-button ng-model="heureDebut2" class="btnS md-raised" ng-click="showHeureDebutSer2($event, $index)" aria-label="show picker">
                  <strong>{{ heureDebut2 | date:'HH:mm' }}</strong>
                  <i class="espace-avant fa fa-clock-o"></i>
                </md-button>
                <md-button ng-model="heureFin2" class="btnS md-raised" ng-click="showHeureFinSer2($event, $index)" aria-label="show picker">
                  <strong>{{ heureFin2 | date:'HH:mm' }}</strong>
                  <i class="espace-avant fa fa-clock-o"></i>
                </md-button>
              </div>
              <div class="text-center">
                  <label class="uk-form-label" for="form-stacked-select">Pause</label>
                  <div class="uk-form-controls">
                    <select style="font-size:1.2em" class="ui dropdown" id="form-stacked-select" ng-model="pauseService2" ng-options="p.name for p in nbPause"/>
                  </div>
              </div>
          </div>
        </div> -->