<!DOCTYPE html>
<html ng-app="mwl.calendar.docs">
  <meta charset="utf-8"/>
  <head>
    <!-- CSS de l'application -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-colorpicker/3.0.25/css/colorpicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/angular-bootstrap-calendar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/angular-ui-notification.min.css"> 
    
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap - Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--  Librairies externes (Angular) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.4/interact.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdn.rawgit.com/jkbrzt/rrule/v2.1.0/lib/rrule.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-colorpicker/3.0.25/js/bootstrap-colorpicker-module.min.js"></script>

    <!-- Mes Librairies Angular -->
    <script type="text/javascript" src="js/angular-ui-notification.min.js"></script>
    <script type="text/javascript" src="js/angular-bootstrap-calendar-tpls.js"></script>
    <script type="text/javascript" src="js/angular-locale_fr-fr.js"></script>

    <!-- Script de l'application -->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/modal.js"></script>

    <script type="text/javascript" src="app/notifConfig.js"></script>
    <script type="text/javascript" src="app/notifService.js"></script>

    <!-- Angular Material Library -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
    

  </head>
  <body >

  	<h2 class="text-center">Modification de l'horaire {{vm.event.title}}</h2>
	<table class="table table-bordered">

	    <thead>
	      <tr>
	        <th>Département</th>
	        <th>Date</th>
	        <th>Heure Début</th>
	        <th>Heure Fin</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>
	          <i class="fa fa-circle" style="font-size:25px" ng-style="vm.styleDep"></i><span style="font-size: 15px;margin-left: 8px;font-weight: bold">{{depSel}}</span>
	        </td>
	        <td>
	          <p class="input-group" style="max-width: 250px">
	            <input ng-change="vm.changeDate()"
	              type="text"
	              class="form-control"
	              readonly
	              uib-datepicker-popup="dd MMMM yyyy"
	              ng-model="vm.event.startsAt"
	              is-open="vm.event.startOpen"
	              close-text="Close" >
	            <span class="input-group-btn">
	              <button
	                type="button"
	                class="btn btn-default"
	                ng-click="vm.toggle($event, 'startOpen', vm.event)">
	                <i class="glyphicon glyphicon-calendar"></i>
	              </button>
	            </span>
	          </p>
	        </td>
	        <td>
	          <div
	              uib-timepicker
	              ng-model="vm.event.startsAt"
	              hour-step="1"
	              minute-step="15"
	              show-meridian="false">
	            </div>
	        </td>
	        <td>
	          <div
	              uib-timepicker
	              ng-model="vm.event.endsAt"
	              hour-step="1"
	              minute-step="15"
	              show-meridian="false">
	            </div>
	        </td>
	      </tr>
	    </tbody>
	    
	  </table>

	<div class="centrer">
	    <button type="button" class="btn btnGris" ng-click="vm.modifHoraire()">Enregistrer</button>
	</div>

<hr>

 </body>
</html>
