
<md-dialog aria-label="Gestion Horaire Type" style="width:80%">
   <md-content id="modalHoraireType" md-scroll-y="" layout="column" flex="" class="_md layout-column flex">
     	<div class="spectre-card">
      
         <div class="spectre-card-header">
            <h5 class="spectre-card-title">
               {{person.nom}} {{person.prenom}}
               <figure class="avatar avatar-xl right" ng-if="scope.myPerson != null">
                  <img style="border-radius: 0%!important" ng-style="imgDep" ng-src="assets/images/bande{{person.dep.img}}.jpg" />
                  <div ng-style="styleDep" class="avatar-icon" />
               </figure>
               <br>
               <h6 class="spectre-card-subtitle">{{depSel}}</h6>
               <h4 class="text-center">
                  <select class="uk-select" ng-change="majPerson()" ng-model="scope.myPerson" style="width: 100%; margin-top:5px">
                     <option ng-repeat="person in scope.persons track by $index" value="{{person.id}}">{{person.nom}} {{person.prenom}}</option>
                  </select>
                  <span ng-if="scope.myPerson == null" style="color:red; display: block; margin-bottom: 70px;">Veuillez choisir un employé !</span>
               </h4>
            </h5>
         </div>
          
         
         
         <!-- Body de la carte -->
         <div class="spectre-card-body" ng-show="myPerson != null">
            <div class="row uk-padding uk-panel vlightgrey" date-range-picker>
              <div class="col-lg-12">
                <h3 class="text-center">Période <i class="fa fa-clock-o" aria-hidden="true"></i></h3>
                <div class="alert alert-success" role="alert"><p>Sélectionnez la période pendant laquel vous souhaiteriez utiliser l'horaire type pré-configuré </p></div>
                <input class="uk-input" id="dateRange" type="text" name="daterange" value="01/01/2015 - 01/31/2015" />
              </div>
            </div>

            <hr class="uk-divider-icon">
         
            <div class="row uk-padding uk-panel vlightgrey">
               <div class="col-lg-12">
                  <h3 class="text-center">Horaire Type Pré-configuré <i style="font-size:16px;margin-right: -5px" class="fa fa-clock-o" aria-hidden="true"></i> <i class="fa fa-cogs" aria-hidden="true"></i></h3>
                  <div class="alert alert-success" role="alert"><p>Sélectionnez un horaire type pré-configuré pour le département : <strong>{{depSel}}</strong></p></div>
                  <select class="uk-select" ng-change="majHoraireType()" ng-model="scope.myHoraireType" style="width: 100%; margin-top:5px">
                     <option ng-repeat="horaireType in scope.listePreHours track by $index" value="{{horaireType.prehour.id}}">{{horaireType.prehour.nom}}</option>
                  </select>
               </div>
            </div><br><br><br><br>
          
            
         
         <div ng-show="scope.myHoraireType != null" class="row" style="margin-bottom: 100px">
                <hr class="uk-divider-icon">
               <div class="col-lg-12">
                    <div class="uk-padding uk-panel vlightgrey">
                       <h3 class="text-center">Gestion de l'horaire <i class="fa fa-calendar" aria-hidden="true"></i></h3>
                        <div class="alert alert-success" role="alert"><p>Modifier l'horaire comme bon vous semble</p></div>
                    </div>
                   
                   <div class="centrer table-responsive">
                     <table md-whiteframe="1" id="cal" class="table flat-table" style="text-align:center; vertical-align: none!important">
                         <tbody>
                           <tr>
                              <th class="darkBrown"></th>
                              <th class="darkBrown coup" ng-repeat="data in prehours track by $index">{{data.day}} <span ng-if="data.pause.existe" class="color-Coup">*</span></th>
                           </tr>
                           <tr>
                              <th rowspan="2" id="matin" class="tableau-darkBrownWithC">Matin
                                 <i class="fa fa-sun-o" aria-hidden="true"></i>
                              </th>
                              <td ng-repeat="data in prehours track by $index" rowspan="{{data.pause.existe ? 1 : 2}}" ng-class="{dayCoup : !data.pause.existe}" style="background-color: white!important">
                                 <md-button ng-style="data.matin.style" id="{{data.id}}debutMatin" data-title="Ajout d'heures" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Cliquer pour ajouter vos horaires de la semaine"  class="btnS md-raised" ng-click="showTimeMatinDebut($event, $index)" aria-label="show picker">
                                    <strong>{{ data.matin.debut | date:'HH:mm' }}</strong>
                                    <i class="espace-avant fa fa-clock-o"></i>
                                 </md-button>
                                 <span class="centrer"></span>
                              </td>
                           </tr>
                           <tr>
                              <td ng-if="data.pause.existe" ng-repeat="data in prehours track by $index" style="background-color: white!important">
                                 <md-button ng-style="data.matin.style" id="{{data.id}}fin" class="btnS md-raised" ng-click="showTimeMatinFin($event, $index)" aria-label="show picker">
                                    <strong>{{ data.matin.fin | date:'HH:mm' }}</strong>
                                    <i class="espace-avant fa fa-clock-o"></i>
                                 </md-button>
                                 <span class="centrer"></span>
                              </td>
                           </tr>
                           <tr>
                              <th rowspan="1" style="line-height: 5px!important" class="tableau-darkBrownWithC">Pause</th>
                              <td ng-repeat="pauses in scope.prehours track by $index">
                                 <select style="font-size:1.2em" class="uk-select" id="form-stacked-select" ng-model="pauses.datapauseMatin" ng-options="p.name for p in scope.nbPause"></select>
                              </td>
                           </tr>

                           <tr class="ligne">
                               <th rowspan="2" class="tableau-darkBrownWithC">Soir
                                 <i class="fa fa-moon-o" aria-hidden="true"></i>
                               </th>

                               <td ng-repeat="data in scope.prehours track by $index" rowspan="{{data.pause.existe ? 1 : 2}}" ng-class="{dayCoup : !data.pause.existe}" style="background-color: white!important">
                                 <md-button ng-style="data.soir.style" ng-if="data.pause.existe"  id="{{data.id}}sDebut" class="btnS md-raised" ng-click="showTimeSoirDebut($event, $index)" aria-label="show picker">
                                     <strong>{{ data.soir.debut | date:'HH:mm' }}</strong>
                                     <i class="espace-avant fa fa-clock-o"></i>
                                 </md-button>
                               </td>
                           </tr>
                           <tr>
                              <td ng-repeat="data in prehours track by $index" style="background-color: white!important">
                                 <md-button ng-style="data.soir.style" id="{{data.id}}sFin" class="btnS md-raised" ng-click="showTimeSoirFin($event, $index, data.soir.fin)" aria-label="show picker">
                                    <strong>{{ data.soir.fin | date:'HH:mm' }}</strong>
                                    <i class="espace-avant fa fa-clock-o"></i>
                                 </md-button>
                                 <span class="centrer"></span>
                              </td>
                           </tr>
                           <tr>
                              <th rowspan="1" style="line-height: 5px!important" class="tableau-darkBrownWithC">Pause</th>
                              <td ng-repeat="pauses in scope.prehours track by $index">
                                 <select style="font-size:1.2em" class="uk-select" id="form-stacked-select" ng-model="pauses.datapauseSoir" ng-options="p.name for p in scope.nbPause"></select>
                              </td>
                              </td>
                           </tr>
                         </tbody>
                     </table>
                   </div>
               </div>
             </div>
            
         </div>
         <br><br><br>
         
      <button style="bottom: 0; position: fixed; width: 50%; background-color: #ECF0F1; color:#222" class="uk-button uk-button-secondary uk-width-1-1" aria-label="Back to Top" ng-click="hide()">
      Annuler
      </button>
      <button style="bottom: 0; right: 0; position: fixed; width: 50%" class="uk-button uk-button-secondary uk-width-1-1" aria-label="Back to Top" ng-click="answer('')">
        Ajouter
      </button>
       
   </md-content>
</md-dialog>
           
           <!--
           <div class="row">
             <div class="col-lg-12">
               
               <div class="text-center">
                 <md-button ng-model="heureDebut1" class="btnS md-raised" ng-click="showHeureDebutSer1($event, $index)" aria-label="show picker">
                  <strong>{{ heureDebut1 | date:'HH:mm' }}</strong>
                  <i class="espace-avant fa fa-clock-o"></i>
                 </md-button>
                 <md-button ng-model="heureFin2" class="btnS md-raised" ng-click="showHeureFinSer1($event, $index)" aria-label="show picker">
                    <strong>{{ heureFin1 | date:'HH:mm' }}</strong>
                    <i class="espace-avant fa fa-clock-o"></i>
                 </md-button>
               </div>
               <div class="text-center">
                 <label class="uk-form-label" for="form-stacked-select">Pause</label>
                 <div class="uk-form-controls">
                   <select style="font-size:1.2em" class="uk-select" id="form-stacked-select" ng-model="pauseService1" ng-options="p.name for p in nbPause"/>
                 </div>
               </div>
             </div>
           </div>
           <!--
           <div class="row">
             <div class="col-lg-12">
                 <h3>Service 2  
                     <label class="right" style="font-size: 1em"><input class="uk-checkbox" type="checkbox" ng-model="absent2" ng-change="changeAb2();validationAbsence()"/> Absent</label>
                 </h3>
                 <div class="text-center">
                   <md-button ng-model="heureDebut2" class="btnS md-raised" ng-click="showHeureDebutSer2($event, $index)" aria-label="show picker">
                     <strong>{{ heureDebut2 | date:'HH:mm' }}</strong>
                     <i class="espace-avant fa fa-clock-o"></i>
                   </md-button>
                   <md-button ng-model="heureFin2" class="btnS md-raised" ng-click="showHeureFinSer2($event, $index)" aria-label="show picker">
                     <strong>{{ heureFin2 | date:'HH:mm' }}</strong>
                     <i class="espace-avant fa fa-clock-o"></i>
                   </md-button>
                 </div>
                 <div class="text-center">
                     <label class="uk-form-label" for="form-stacked-select">Pause</label>
                     <div class="uk-form-controls">
                       <select style="font-size:1.2em" class="uk-select" id="form-stacked-select" ng-model="pauseService2" ng-options="p.name for p in nbPause"/>
                     </div>
                 </div>
             </div>
           </div> -->