<!-- Page qui affiche la parti de la configuration initial -->
<div ng-controller="configController" id="wrapper">
    <ng-menu></ng-menu> <!-- Afficher le menu -->
    <div id="page-wrapper" style="padding-top:50px" >
        <div class="container-fluid">
        	<div class="row">
            <div class="col-lg-12">
            	<h1>Configuration Initial</h1>
            	<h3>Étape :</h3>		        	
        		<div class="progress">
				  	<div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"> 1/4
				  	</div>
				</div>
			</div>
            <!-- Ajouter le code html ici -->

        </div>
    </div> 
</div>