<!-- Page qui affiche la parti de la configuration initial -->
<div ng-controller="configController as ctrl" class="back-app" id="wrapper">
   <ng-menu></ng-menu> <!-- Afficher le menu -->
    <div id="page-wrapper" class="padding-top-50">
        <div class="container-fluid">
         <div class="row">
                <div class="col-lg-12">
                  <h1>Configuration Initial</h1>            
                  <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{pourcentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pourcentage}}%;"> {{currentView}}/5
                  </div>
               </div>
            </div>
            </div>
            <hr>
        
            <!-- Affichage selon l'étape de la configuration -->
            <div ng-switch on = "currentView">
            
            <div ng-switch-when="2">
               
               <!-- Par défaut -->
                    <div class="row">
                        <div class="col-lg-12 padding-bottom">
                            <h2 class="no-margin-left">Horaires de l'établissement</h1>
                        </div>
                       <div class="row padding-top--50">
                           <div class="col-lg-3"></div>
                           <div class="col-lg-6 padding-bottom">
                               <div class="left">
                                   <h3>Nombre d'heures/semaine : </h3>
                               </div>
                               <div class="right padding-top-16"> 
                                   <h4><input class="centrer" style="width:125px" type="text"></input></h4>
                               </div> 
                           </div>
                       </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12 padding-top">
                            <div class="centrer">
                                <table class="flat-table" style="text-align:center">
                                  <tbody>
                                    <tr>
                                       <th></th>
                                        <th>Lundi</th>
                                        <th>Mardi</th>
                                        <th>Mercredi</th>
                                        <th>Jeudi</th>
                                        <th>Vendredi</th>
                                        <th>Samedi</th>
                                        <th>Dimanche</th>
                                    </tr>
                                    <tr>
                                       <th rowspan="2">Matin</th>
                                       <td>
                                         <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker2($event)" aria-label="show picker">
                                             <strong>{{ currentTime2 | date:'HH:mm' }}</strong>
                                             <i class="espace-avant fa fa-clock-o"></i>
                                         </md-button>
                                         <span class="centrer"></span>
                                       </td>
                                       <td>
                                         <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                         <strong>Ouverture</strong>
                                         <i class="espace-avant fa fa-clock-o"></i>
                                         </md-button>
                                       </td>
                                       <td>
                                         <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                         <strong>Ouverture</strong>
                                         <i class="espace-avant fa fa-clock-o"></i>
                                         </md-button>
                                       </td>
                                       <td>
                                         <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                         <strong>Ouverture</strong>
                                         <i class="espace-avant fa fa-clock-o"></i>
                                         </md-button>
                                       </td>
                                       <td>
                                         <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                         <strong>Ouverture</strong>
                                         <i class="espace-avant fa fa-clock-o"></i>
                                         </md-button>
                                       </td>
                                       <td>
                                         <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                         <strong>Ouverture</strong>
                                         <i class="espace-avant fa fa-clock-o"></i>
                                         </md-button>
                                       </td>
                                       <td>
                                         <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                         <strong>Ouverture</strong>
                                         <i class="espace-avant fa fa-clock-o"></i>
                                         </md-button>
                                       </td>
                                    </tr>
                                       <tr>

                                         <td>
                                           <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                           <strong>Fermeture</strong>
                                           <i class="espace-avant fa fa-clock-o"></i>
                                           </md-button>
                                         </td>
                                         <td>
                                           <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                           <strong>Fermeture</strong>
                                           <i class="espace-avant fa fa-clock-o"></i>
                                           </md-button>
                                         </td>
                                         <td>
                                           <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                           <strong>Fermeture</strong>
                                           <i class="espace-avant fa fa-clock-o"></i>
                                           </md-button>
                                         </td>
                                         <td>
                                           <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                           <strong>Fermeture</strong>
                                           <i class="espace-avant fa fa-clock-o"></i>
                                           </md-button>
                                         </td>
                                         <td>
                                           <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                           <strong>Fermeture</strong>
                                           <i class="espace-avant fa fa-clock-o"></i>
                                           </md-button>
                                         </td>
                                         <td>
                                           <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                           <strong>Fermeture</strong>
                                           <i class="espace-avant fa fa-clock-o"></i>
                                           </md-button>
                                         </td>
                                         <td>
                                           <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                           <strong>Fermeture</strong>
                                           <i class="espace-avant fa fa-clock-o"></i>
                                           </md-button>
                                         </td>
                                       </tr>
                                 
                                         
                                    <tr class="ligne">
                                      <th rowspan="2">Après-midi</th>

                                       <td>
                                         <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                         <strong>Ouverture</strong>
                                         <i class="espace-avant fa fa-clock-o"></i>
                                         </md-button>
                                         <span class="centrer"></span>
                                       </td>
                                       <td>
                                         <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                         <strong>Ouverture</strong>
                                         <i class="espace-avant fa fa-clock-o"></i>
                                         </md-button>
                                       </td>
                                       <td>
                                         <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                         <strong>Ouverture</strong>
                                         <i class="espace-avant fa fa-clock-o"></i>
                                         </md-button>
                                       </td>
                                       <td>
                                         <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                         <strong>Ouverture</strong>
                                         <i class="espace-avant fa fa-clock-o"></i>
                                         </md-button>
                                       </td>
                                       <td>
                                         <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                         <strong>Ouverture</strong>
                                         <i class="espace-avant fa fa-clock-o"></i>
                                         </md-button>
                                       </td>
                                       <td>
                                         <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                         <strong>Ouverture</strong>
                                         <i class="espace-avant fa fa-clock-o"></i>
                                         </md-button>
                                       </td>
                                       <td>
                                         <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                         <strong>Ouverture</strong>
                                         <i class="espace-avant fa fa-clock-o"></i>
                                         </md-button>
                                       </td>
                                    </tr>
                                       <tr>

                                         <td>
                                           <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                           <strong>Fermeture</strong>
                                           <i class="espace-avant fa fa-clock-o"></i>
                                           </md-button>
                                         </td>
                                         <td>
                                           <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                           <strong>Fermeture</strong>
                                           <i class="espace-avant fa fa-clock-o"></i>
                                           </md-button>
                                         </td>
                                         <td>
                                           <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                           <strong>Fermeture</strong>
                                           <i class="espace-avant fa fa-clock-o"></i>
                                           </md-button>
                                         </td>
                                         <td>
                                           <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                           <strong>Fermeture</strong>
                                           <i class="espace-avant fa fa-clock-o"></i>
                                           </md-button>
                                         </td>
                                         <td>
                                           <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                           <strong>Fermeture</strong>
                                           <i class="espace-avant fa fa-clock-o"></i>
                                           </md-button>
                                         </td>
                                         <td>
                                           <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                           <strong>Fermeture</strong>
                                           <i class="espace-avant fa fa-clock-o"></i>
                                           </md-button>
                                         </td>
                                         <td>
                                           <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                           <strong>Fermeture</strong>
                                           <i class="espace-avant fa fa-clock-o"></i>
                                           </md-button>
                                         </td>
                                       </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 padding-top">
                                    <div class="centrer">
                                       <md-button ng-click="ctrl.previous($event,1)" class="bouton bouton-l">Précédent</md-button>
                                       <md-button ng-click="ctrl.next($event, 3)" class="bouton bouton-l">Suivant</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                  </div>

                <div ng-switch-when="3">
                    
                    <div class="row">
                        <div class="col-lg-12 padding-bottom">
                            <h2 class="no-margin-left">Départements</h1>
                        </div>
                    </div>
          <!-- Gestion des départements de l'établissement sous forme de carré -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="centrer">
                                <div id="grand-carre">
                                    <div id="carre-1" ng-click="ctrl.ajouterDepartementTab($event)">
                                        <span class="label-carre-100"> {{ctrl.depart[0].name}} </span>
                                    </div>
                                    <div id="carre-2" ng-click="ctrl.ajouterDepartementTab($event)">
                                        <span class="label-carre-100">{{ctrl.depart[1].name}}</span>
                                    </div>
                                    <div id="carre-3" ng-click="ctrl.ajouterDepartementTab($event)">
                                        <span class="label-carre-50">{{ctrl.depart[2].name}}</span>
                                    </div>
                                    <div id="carre-4" ng-click="ctrl.ajouterDepartementTab($event)" class="transparence">
                                        <span class="label-carre-200">{{ctrl.depart[3].name}}</span>
                                    </div>
                                    <div id="carre-5" ng-click="ctrl.ajouterDepartementTab($event)" class="transparence">
                                        <span class="label-carre-100">{{ctrl.depart[4].name}}</span>
                                    </div>
                                    <div id="carre-6" ng-click="ctrl.ajouterDepartementTab($event)" class="transparence">
                                        <span class="label-carre-50">{{ctrl.depart[5].name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
          <!-- Gestion des départements de l'établissement sous forme de formulaire -->
                    <div ng-repeat="item in depart">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <div class="centrer">
                                    <span class="span-size-font">Nom du Département : </span>
                                    <input ng-model="ctrl.depart[$index].name" class="centrer" value="{{item.name}}" type="text" autofocus></input>
                                    <md-button ng-click="ctrl.supprimerDepartement($event, item.id)" class="bouton bouton-s" aria-label="Button">
                                        <!--<span class="glyphicon glyphicon-trash"></span>-->
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="centrer">
                                <md-button ng-click="ctrl.ajouterDepartement()" class="bouton bouton-xl">Ajouter Departement</md-button>
                            </div>
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-12"></div></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="centrer">
                                <md-button ng-click="ctrl.previous($event,2)" class="bouton bouton-l">Précédent</md-button>
                                <md-button ng-click="ctrl.next($event, 4)" class="bouton bouton-l">Suivant</md-button>
                            </div>
                        </div>
                    </div>
                </div> 
                

                <div ng-switch-when="4">
                    <!-- Ajouter les jours fériés -->
                    <div class="row">
                        <div class="col-lg-12 padding-bottom">
                            <h2 class="no-margin-left">Jours fériés</h1>
                        </div>
                    </div>
                    <div class="centrer">
                        <md-button ng-click="ctrl.previous($event, 3)" class="bouton bouton-l">Précédent</md-button>
                        <md-button ng-click="ctrl.next($event, 5)" class="centrer bouton bouton-l">Suivant</md-button>
                    </div>
                </div>

                <div ng-switch-when="5">
                    <!-- Afficher la prévisualisation -->
                    <div class="row">
                        <div class="col-lg-12 padding-bottom">
                            <h2 class="no-margin-left">Prévisualisation</h1>
                        </div>
                    </div>
                      <div class="centrer">
                          <md-button ng-click="ctrl.previous($event,4)" class="bouton bouton-l">Précédent</md-button>
                          <md-button ng-click="ctrl.test()" class="bouton bouton-l">Finaliser</md-button>
                      </div>
                    </div>
        
                <!-- affichage du formulaire des info de l'établissement -->
                <div ng-switch-default>
                     <div class="row">
               <!-- affichage des champs -->
                        <div class="col-lg-12 padding-bottom">
                           <h2 class="no-margin-left">Informations de l'établissement</h1>
                        </div>
                     </div>
                     <div ng-repeat="item in infoEtablissement">
                        <div class="row infoEtabMarginBot">
                           <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                              <div class="centrer">
                                <span class="span-size-font infoEtabFormGauche left">{{item.name}} </span>
                                <input class="right infoEtabFormDroite" ng-model="ctrl.infoEtablissement[$index].name" class="centrer" value="{{item.name}}" type="text" autofocus></input>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- affichage du bouton -->
                        <div class="col-lg-12 padding-top">
                          <div class="centrer">
                            <md-button ng-click="ctrl.next($event, 2)" class="bouton bouton-l">Suivant</md-button>
                          </div>
                        </div>
                      </div>
               </div>
            </div>
        </div>
    </div> 
</div>
            
               
               
                    <!-- Horaires d'ouverture et fermeture 
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6 padding-bottom">
                            <div class="left">
                                <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                    Choisir horaires d' <strong>Ouverture</strong>
                                    <i class="espace-avant fa fa-clock-o"></i>
                                </md-button>
                                <div ng-repeat="item in currentView">
                                    <span>{{item.dep}}</span>
                                </div>
                            </div>
                            <div class="right padding-top-12"> 
                                <h4>
                                    <input class="centrer" type="text" value="{{ currentTime | date:'HH:mm' }}"></input>
                                </h4>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6 padding-bottom">
                            <div class="left">
                                <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker2($event)" aria-label="show picker">
                                    Choisir horaires de <strong>Fermeture</strong>
                                    <i class="espace-avant fa fa-clock-o"></i>
                                </md-button>
                            </div>
                            <div class="right padding-top-12"> 
                                <h4>
                                    <input class="centrer" type="text" value="{{ currentTime2 | date:'HH:mm' }}"></input>
                                </h4>
                            </div> 
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-12"></div></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="centrer">
                                <md-button ng-click="ctrl.change($event, 2)" class="bouton bouton-l">Suivant</md-button>
                            </div>
                        </div>
                    </div>
                    
                    -->
