<!-- Page qui affiche la parti de la configuration initial -->
<div ng-controller="configController as ctrl" class="back-app" id="wrapper">
   <ng-menu></ng-menu> <!-- Afficher le menu -->
    <div id="page-wrapper" class="padding-top-50">
        <div class="container-fluid">
        	<div class="row">
                <div class="col-lg-12">
                	<h1>Configuration Initial</h1>	        	
            		<div class="progress">
    				  	<div class="progress-bar" role="progressbar" aria-valuenow="{{pourcentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pourcentage}}%;"> {{currentView}}/4
    				  	</div>
    				</div>
    			</div>
            </div>
            <hr>

            <!-- Affichage selon l'étape de la configuration -->
            <div ng-switch on = "currentView">
                <div ng-switch-when="2">

                    <!-- Choisir les départements-->
                    <div ng-repeat="item in departement">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <div class="centrer">
                                    <span class="span-size-font">Nom du Département : </span><input class="centrer" value="{{item.dep}}" type="text"></input>
                                    <md-button aria-label="bouton" class="bouton bouton-s"><span class="glyphicon glyphicon-trash"></span></md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="centrer">
                                <md-button class="bouton bouton-xl">Ajouter Departement</md-button>
                            </div>
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-12"></div></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="centrer">
                                <md-button ng-click="ctrl.change($event, 3)" class="bouton bouton-l">Suivant</md-button>
                            </div>
                        </div>
                    </div> 
                </div>

                <div ng-switch-when="3">
                    <!-- Ajouter les jours fériés -->
                    Jours fériés

                    <md-button ng-click="ctrl.change($event, 4)" class="bouton bouton-l">Suivant</md-button>
                </div>

                <div ng-switch-when="4">
                    <!-- Ajouter la prévisualisation -->
                    Prévisualisation
                    <md-button ng-click="ctrl.test()" class="bouton bouton-l">Suivant</md-button>
                </div>
                <div ng-switch-default> <!-- Par défaut -->

                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6 padding-bottom">
                            <div class="left">
                                <h3>Nombre d'heures/semaine : </h3>
                            </div>
                            <div class="right padding-top-16"> 
                                <h4><input class="centrer" type="text"></input></h4>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6 padding-bottom">
                            <div class="left">
                                <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker($event)" aria-label="show picker">
                                    Choisir horaires d' <strong>Ouverture</strong>
                                    <i class="espace-avant fa fa-clock-o"></i>
                                </md-button>
                                <div ng-repeat="item in currentView">
                                    <span>{{item.dep}}</span>
                                </div>
                            </div>
                            <div class="right padding-top-12"> 
                                <h4>
                                    <input class="centrer" type="text" value="{{ currentTime | date:'HH:mm' }}"></input>
                                </h4>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6 padding-bottom">
                            <div class="left">
                                <md-button class="btnS md-raised" ng-click="ctrl.showTimePicker2($event)" aria-label="show picker">
                                    Choisir horaires de <strong>Fermeture</strong>
                                    <i class="espace-avant fa fa-clock-o"></i>
                                </md-button>
                            </div>
                            <div class="right padding-top-12"> 
                                <h4>
                                    <input class="centrer" type="text" value="{{ currentTime2 | date:'HH:mm' }}"></input>
                                </h4>
                            </div> 
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-12"></div></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="centrer">
                                <md-button ng-click="ctrl.change($event, 2)" class="bouton bouton-l">Suivant</md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>