<!-- Configuration des départements -->
<div class="row">
	 <div class="col-lg-12 padding-bottom">
		<h2 class="no-margin-left">Départements <md-button ng-if="state" id="btnSuivant" ng-click="saveDepartments()" class="bouton bouton-l" style="background-color:brown;float:right;"><i class="fa fa-floppy-o" aria-hidden="true" style="margin-right: 3px"></i> Enregistrer</md-button></h2>
		<div class="alert alert-success" role="alert">
			<h4 class="alert-heading">Sélections des départements</h4>
			<p>Sélectionnez les départements qui seront utiles dans votre établissement.</p>
		</div>
	 </div>
</div>

<!-- Gestion des départements de l'établissement sous forme de carré -->
<div class="row">
	<div class="col-lg-12">
		<div class="centrer">
			<div id="grand-carre" data-title="Choisir un département" data-container="body" data-toggle="popover" data-placement="{{popCarre.position}}" data-content="Cliquer sur le grand carré pour ajouter un département">
				<div id="carre-1" ng-click="ajouterDepartementTab($event)" class="transparence">
					 <span class="label-carre-100">{{depart[0].name}}</span>
				</div>
				<div id="carre-2" ng-click="ajouterDepartementTab($event)" class="transparence">
					 <span class="label-carre-100">{{depart[1].name}}</span>
				</div>
				<div id="carre-3" ng-click="ajouterDepartementTab($event)" class="transparence">
					 <span class="label-carre-50">{{depart[2].name}}</span>
				</div>
				<div id="carre-4" ng-click="ajouterDepartementTab($event)" class="transparence">
					 <span class="label-carre-200">{{depart[3].name}}</span>
				</div>
				<div id="carre-5" ng-click="ajouterDepartementTab($event)" class="transparence">
					 <span class="label-carre-100">{{depart[4].name}}</span>
				</div>
				<div id="carre-6" ng-click="ajouterDepartementTab($event)" class="transparence">
					 <span class="label-carre-50">{{depart[5].name}}</span>
				</div>
				<div id="carre-7" ng-click="ajouterDepartementTab($event)" class="transparence">
					 <span class="label-carre-50">{{depart[6].name}}</span>
				</div>
				<div id="carre-8" ng-click="ajouterDepartementTab($event)" class="transparence">
					 <span class="label-carre-50">{{depart[7].name}}</span>
				</div>
			</div>
		</div>
	 </div>
</div>

<!-- Gestion des départements de l'établissement sous forme de formulaire -->
<div ng-repeat="item in depart">
	 <div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-3">
			<!--<span class="span-size-font">Nom du Département : </span>-->
			<input id="{{item.id}}" ng-model="depart[$index].name" placeholder="{{item.name}}" class="left uk-input centrer" value="{{item.name}}" ng-class="{error: item.error}" type="text" ng-blur="verification($index)" autofocus>
			</input>
			<div class="centrer">
				<span class="red errorDep" ng-show="item.error">{{msgError}}</span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="depSup">
				<md-button id="supDep{{$index}}" data-title="Supprimer un département" data-container="body" data-toggle="popover" data-placement="{{popSup.position}}" data-content="Supprimer les départements que vous ne désirez pas garder pour votre établissement" ng-click="supprimerDepartement($event, item.id, $index)" aria-label="Button" class="bouton bouton-s poubelleDep">
					<i class="fa fa-trash" aria-hidden="true"></i>
				</md-button>
			</div>
		</div>
	 </div>
</div>

<div class="row padding-top">
 	<div class="col-lg-12">
		<div class="centrer">
			<md-button ng-disabled="depart.length === 8" id="btnAjoutDep" data-title="Choisir un département" ng-data-container="body" data-toggle="popover" data-placement="{{popAdd.position}}" data-content="Ajouter les départements que votre établissement doit posséder" ng-click="ajouterDepartement($event)" class="bouton bouton-xl">
				<i class="fa fa-plus" aria-hidden="true" style="margin-right: 3px"></i> Ajouter Departement
			</md-button>
		</div>
 	</div>
</div>

<div class="row">
	<div class="col-lg-12"></div>
</div>

<div class="row" ng-if="!state">
		<div class="col-lg-12">
			<div class="centrer">
				<md-button ng-click="precedent()" class="bouton-prec bouton-l">Précédent</md-button>
				<md-button ng-click="suivant($event)" class="bouton bouton-l">Suivant</md-button>
			</div>
		</div>
	</div>
</div>